<!doctype html>
<head>
    <title>{% block title %}{% endblock %}Flask Label</title>
    <meta charset="utf-8"><!-- html5 version of http-equiv="Content-Type"... -->
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <link rel="canonical" href="{{ pageUrl }}" />
</head>
<body>
    <section class="content">
      {% block content %}{% endblock %}

      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
    </section>

    <script type="text/javascript">
      var globalData = {
        "user": {% if g.user %} {{ g.user_json|tojson }}{% else %} null{% endif %}
      };
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/bundle.js') }}"></script>
</body>
